.card {
    @include flexCenter($direction: column);
    justify-content: space-between;
    text-align: center;
    width: 18rem;
    height: 21rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: $--clr-orange-cards;
    box-shadow: 0px 0px 8px 0px $--clr-grey;


    .card-title {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.40rem;
        margin-bottom: .5rem;
        // outline: 2px solid red;
        height: 4.6rem;
        @include flexCenter()
    }

    .str {
        font-weight: 800;
    }

    .upper {
        text-transform: uppercase;
    }

    button {
        opacity: 1;
        z-index: 3;
    }
}