$--clr-success: rgb(57, 211, 57);
$--clr-danger: rgb(223, 111, 91);
$--clr-warning: rgb(238, 211, 56);
$--clr-info: rgb(58, 122, 218);
$--clr-dark: rgb(68, 68, 68);
$--clr-grey: rgb(153, 153, 153);
$--clr-white: rgb(224, 224, 224);
$--clr-orange: rgb(223, 171, 74);


$--clr-success-light: rgb(106, 238, 106);
$--clr-danger-light: rgb(226, 136, 94);
$--clr-warning-light: rgb(236, 217, 106);
$--clr-info-light: rgb(101, 148, 219);
$--clr-dark-light: rgb(124, 124, 124);
$--clr-grey-light: rgb(206, 206, 206);
$--clr-white-light: rgb(255, 255, 255);
$--clr-orange-light: rgb(255, 193, 79);

/* BACKGROUND COLOR BODY */
$--bg-clr-body-1: rgba(163, 108, 26, 0.952);

/* BACKGROUND COLOR CARDS */
$--clr-orange-cards: rgba(223, 171, 74, .75);